@import "reset.css";
@import "element.css";

.hidden{
	display:none;
}
.screen{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.background-img{
	background-image: url( "https://c4.wallpaperflare.com/wallpaper/619/617/138/city-lights-wet-street-water-city-wallpaper-preview.jpg" );
	background-size:cover;
	height:100%;
	width:100%;
}

.quotes-section{
	position:absolute;
	bottom:15px;
}